<div class="register-container">
  <div class="register-card">
    <h2>Crea un nuovo utente</h2>
    <form>
      <div class="input-group">
        <label for="username">Nome utente</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="user.username"
          placeholder="Inserisci il nome utente"
          required
        />
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          placeholder="Inserisci la tua email"
          required
        />
      </div>
      <div class="input-group" style="position: relative;">
        <label for="password">Password</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          placeholder="Crea una password"
          required
          style="padding-right: 2.5rem;"
        />
        <button type="button" class="hide" (click)="togglePasswordVisibility()">
          <span *ngIf="!showPassword" aria-label="Mostra password" title="Mostra password">👁️</span>
          <span *ngIf="showPassword" aria-label="Nascondi password" title="Nascondi password">🙈</span>
        </button>
      </div>
      <button type="submit" (click)="register()">Registrati</button>
    </form>
  </div>
</div>
